<header class="jumbotron jumbotron-sm">
	<div class="container">
		<div class="row">
			<div class="hc-jumbo-separator col-sm-8 col-md-9 col-sm-push-4 col-md-push-3">
				<h2 class="text-center-xs">
					<%= @page_title.html_safe %>
				</h2>
			</div>
			<div class="col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
				<h3 class="h5 text-center">
					<a href="http://hcflgov.net/en/government/boards-and-committees/a-d/blue-ribbon-committee-for-child-safety">
						<i class="fa fa-fw fa-angle-left"></i>
						Blue Ribbon Committee
					</a>
				</h3>
			</div>
		</div>
	</div>
</header>
